/* * {
  border: 1px solid red;
} */

.flex-container-header {
  display: flex;
  flex-direction: column;
}

.flex-section {
  display: flex;
  flex-direction: column;
}

.flex-header {
  display: flex;
  align-items: center;
  min-height: 60px;
}

.flex-header {
  justify-content: center;
}

img.logo {
  filter: invert(25%) sepia(57%) saturate(3631%) hue-rotate(341deg)
    brightness(84%) contrast(82%);
  mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}
